.square {
    display : flex;
    color : black;
    border : 1px solid;
    width : 10px;
    height : 10px;

    }
.container
{
    width : 900px;
    height : 900px;
    display : flex;
    flex-flow : wrap;
}